html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    background-color: #fff;
    border: 1px solid #5e6568;
    font-size: 2rem;
}
.num {
    color:rgb(0, 0, 0);
}
  
.operator {
    color: #000000;
    background-color: rgb(184, 199, 204);
}
  
.all-clear {
     color: rgb(0, 0, 0);
}
    
.equal-sign {
    background-color: rgb(204, 97, 97);
    color: rgb(0, 0, 0);
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    border-bottom-right-radius: 12px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#zero {
    border-bottom-left-radius: 12px;
}


  
